.quiz-body{ background-color: lightgray;
			height: 500px;
			width: 100%;

}

body {
		color: black;
    	background-image: url(https://st.depositphotos.com/3470617/4920/v/950/depositphotos_49204805-stock-illustration-science-background.jpg);
    }
#time {
	font-size:;
}
#title {
	background-color: lightgray;
}